body {
  font-family: vollkorn, serif;
  background-color: black;
  display: grid;
  grid-template: 1fr 720px 1fr/1fr 720px 1fr;
}

h1 {
  display: inline;
  grid-area: 1 / 2 / 2 / 3;
  color: rgb(228, 228, 228);
}

h2 {
  display: inline;
  text-align: right;
  grid-area: 1 / 2 / 2 / 3;
  color: rgb(198, 198, 198);
}

div.game {
  grid-area: 2/2/3/3;
  display: grid;
  margin: 0 auto;
  padding: 0;
  background-image: url(floor2.png);
  width: 720px;
  height: 720px;
  grid-template: repeat(15, 1fr)/ repeat(15, 1fr);
  place-items: center;
}
.tile {
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
}

.exit {
  width: 48px;
  height: 48px;
  background-color: black;
}

.player {
background-image: url(mazzy.png);
  z-index: 1;
}

.wcross{
  background-image: url(wall-cross.png);
  
}
.wvert{
  background-image: url(wall-vert.png);
}

.whor {
  background-image: url(wall-hor.png);
}
